header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    background-color: rgb(199, 125, 255); 
}

main{
    margin: 0  20%;
}

button{
    padding: 0.2rem;
    margin-top: 0.5rem;
}

#add-form{
    border: black 2px solid;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.section{
    border: black 2px solid;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}